*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main{
    background-color: #bab8b8;
    margin: 10px;
    min-height: 480px;
    padding: 20px 0;
}

main h1{
    letter-spacing: 0.1em;
    margin-left: 70px;
}

.button-container{
    margin: 40px 0 20px 70px;
}

.button-container button{
    background-color: #5a5858;
    border: none;
    color: #fff;
    font-size: 13px;
    height: 40px;
    width: 160px;
}

.button-container button:hover{
    background-color: #6f6d6d;
}

.editing-form{
    background-color: #fff;
    display: none;
    padding: 40px 0 0 40px;
    position: fixed; /*?*/
    border: 1px solid #333;
    left: 70px;
    z-index: 1;
    width: 90%;
}

.editing-form h2{
    margin-bottom: 30px;
}

.editing-form input{
    border: 2px solid #c3c3c3;
    font-size: 16px;
    margin: 5px 0 30px 2px;
    height: 35px;
    padding-left: 10px;
    width: 50%;
}

.editing-form input:nth-of-type(3){
    width: 6%;
}

.editing-form button, .editing-form input[type="submit"]{
    border: none;
    height: 40px;
    letter-spacing: 0.1em;
    font-size: 13px;
    margin: 0 10px 20px 0;
    width: 120px;
}

.editing-form button:nth-of-type(1){
    background-color: #5a5858;
    color: #fff;
}

.editing-form button:nth-of-type(1):hover{
    background-color: #6f6d6d;
}

.editing-form button:nth-of-type(2){
    background-color: #cccccc;
}

.editing-form button:nth-of-type(2):hover{
    background-color: #e3e3e3;
}

.books-container{
    margin-left: 70px;
}

#booksTable{
    border-collapse: collapse; /* ? */
    width: 1024px;
}

#booksTable tbody{
    background-color: #fff;
}

#booksTable tr{
    border-bottom: 2px solid #c4c4c4;
    height: 200px;
}

#booksTable td{
    padding: 10px;
}

.cover{
    width: 15%;
}

.cover div{
    background-color: #b5b5b5;
    height: 180px;
}

.cover img{
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.description div{
    padding-left: 20px;
}

.description span{
    color: #b4b4b4;
    display: block;
}

.buttons{
    width: 20%;
}

.buttons button{
    border: 2px solid #959595;
    color: #959595;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    width: 140px;
}

.buttons button:hover{
    background-color: #7b7979;
    color: #fff;
}
